/* Custom container */
.container-narrow {
    margin: 0 auto;
max-width: 700px; }

.container-narrow > hr {
margin: 30px 0; }

.navbar .nav {
float: right; }

/* posts index */
.post > h3.title {
    position: relative;
padding-top: 10px; }

.post > h3.title span.date {
    position: absolute;
    right: 0;
font-size: 0.9em; }

.post > .more {
    margin: 10px 0;
text-align: left; }

/* post-full*/
.post-full .date {
    margin-bottom: 20px;
font-weight: bold; }

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
overflow: hidden; }

.tag_box li {
line-height: 28px; }

.tag_box li i {
opacity: 0.9; }

.tag_box.inline li {
float: left; }

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
border: 1px dashed #cccccc; }

.tag_box a span {
    vertical-align: super;
font-size: 0.8em; }

.tag_box a:hover {
background-color: #e5e5e5; }

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
color: #FFF; }

a{color:#000;text-decoration:none;}



#toc {
    overflow: auto;
    top: 0px;
    left: 0px;
    position: fixed;
    padding-top: 20px;
    position: fixed;
    max-height: 301px;
    width: 240px;
    background: #fff;
    float: right;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 1px 4px #ccc;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #555;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #f5f5f5;
/*    box-shadow: inset -5px 0px 10px -5px #000;*/
}

.clear-both{clear:both;}
footer{align-text:center;}

.container-narrow-post{
    margin: 0 auto;
    max-width:1100px;
}

.page-side{
    position: fixed;
    top: 0px;
    left: 0;
    width: 30%;
    height: 100%;
    max-width: 500px;
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    background-size: cover;
    background-position: 50% 50%;
}

#index-side{
    background-image: url(/assets/themes/stephen/images/step.jpeg);
}
#about-side{
    background-image: url(/assets/themes/stephen/images/road.jpg);
}
#archive-side{
    background-image: url(/assets/themes/stephen/images/milk-way.jpg);
}
#tag-side{
    background-image: url(/assets/themes/stephen/images/mountain.jpg);
}
.page-body{padding-left:300px;}

.footnotes{
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 20px;
}

.content img {
box-shadow: 8px 8px 15px #999;
padding: 0;
}

.post_at_index img {
box-shadow: 8px 8px 15px #999;
padding: 0;
